html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

body { font-family: "OpenSans", sans-serif; color: #838383; }

a { -webkit-transition: 0.3s; -moz-transition: 0.3s; -o-transition: 0.3s; transition: 0.3s; }

.text { font-size: 12px; line-height: 17px; }

/*-----header---------------------------------------- */
.header { display: block; *zoom: 1; }
.header:after { content: " "; display: table; clear: both; }

.header-in { margin: 0 auto; width: 950px; padding-bottom: 26px; *zoom: 1; }
.header-in:after { content: " "; display: table; clear: both; }

.header__left { float: left; padding-top: 17px; }

.header__right { width: 310px; float: right; padding-top: 25px; }

.header__top { *zoom: 1; margin-bottom: 24px; }
.header__top:after { content: " "; display: table; clear: both; }

.lang { padding-top: 8px; font-size: 11px; line-height: 11px; float: left; *zoom: 1; }
.lang:after { content: " "; display: table; clear: both; }
.lang li { float: right; margin-right: 23px; }
.lang a { text-decoration: none; color: #191919; border-bottom: 3px solid transparent; padding-bottom: 4px; }
.lang a:hover { color: #b90800; }
.lang .is-active { font-weight: bold; border-bottom: 3px solid red; }
.lang .is-active:hover { color: #191919; cursor: default; }

.official { float: right; font-size: 14px; line-height: 14px; color: #4f555d; }

.header__bottom { *zoom: 1; }
.header__bottom:after { content: " "; display: table; clear: both; }

.search { border-bottom: 1px solid #e7e7e7; width: 100%; padding: 4px 0px 3px; *zoom: 1; }
.search:after { content: " "; display: table; clear: both; }
.search .i-search { float: right; }

.search__input { font-size: 12px; line-height: 12px; width: 285px; color: #4f555d; border: none; outline: none; }

/*-----nav---------------------------------------- */
.nav { display: block; *zoom: 1; }
.nav:after { content: " "; display: table; clear: both; }

.nav-in { width: 950px; margin: 0 auto; *zoom: 1; -webkit-box-shadow: inset 0 2px 0 0 #e7e7e7; -moz-box-shadow: inset 0 2px 0 0 #e7e7e7; box-shadow: inset 0 2px 0 0 #e7e7e7; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding-left: 90px; }
.nav-in:after { content: " "; display: table; clear: both; }

.nav__item { -webkit-transition: 0.3s; -moz-transition: 0.3s; -o-transition: 0.3s; transition: 0.3s; float: left; background: transparent; position: relative; display: inline-block; text-align: left; }
.nav__item:hover { background: transparent; color: #b90800; }
.nav__item:hover .nav__link { text-decoration: none; position: relative; z-index: 101; }
.nav__item:hover .nav__second { display: block; z-index: 101; position: absolute; }

.is-dropdown:hover { background: #2a2a2a; }
.is-dropdown:hover .nav__link { color: white; }

.nav__item-unit { -webkit-transition: 0.3s; -moz-transition: 0.3s; -o-transition: 0.3s; transition: 0.3s; border-top: 1px solid #3f3f3f; width: 210px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.nav__item-unit:first-child { border-top: 1px solid transparent; }

.nav__item-link { background: #2a2a2a; display: block; color: #a8abad; font-size: 12px; line-height: 12px; width: 210px; padding: 15px 0px 15px 21px; text-decoration: none; text-align: left; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.nav__item-link:hover { background: #3c3c3c; color: #a8abad; }
.nav__item-link:active { background: #ef2e24; color: #fbd5d4; }

.nav__second { display: none; position: absolute; top: 54px; left: 0px; width: 128px; }

.nav__link { display: inline-block; color: #313131; text-decoration: none; font-size: 14px; line-height: 20px; padding: 19px 26px 16px 21px; }
.nav__link:hover { color: #b90800; }

/*-----main---------------------------------------- */
.main { display: block; *zoom: 1; }
.main:after { content: " "; display: table; clear: both; }

.main-in { width: 950px; margin: 0 auto; padding-top: 44px; padding-bottom: 19px; *zoom: 1; border-bottom: 2px solid #e4e4e4; }
.main-in:after { content: " "; display: table; clear: both; }

.main__left { float: left; display: inline-block; width: 630px; }

.main__topper { border-top: 2px solid #e4e4e4; padding-top: 27px; margin-bottom: 27px; }
.main__topper .h2 { margin-right: 25px; vertical-align: top; }
.main__topper .h5 { vertical-align: top; line-height: 31px; }
.main__topper .h5 .i-link { margin-right: 10px; }

.main__block { margin-bottom: 22px; }

.block { -webkit-box-shadow: inset 0px 1px 0px 0px #e4e4e4; -moz-box-shadow: inset 0px 1px 0px 0px #e4e4e4; box-shadow: inset 0px 1px 0px 0px #e4e4e4; *zoom: 1; margin-bottom: 7px; }
.block:after { content: " "; display: table; clear: both; }

.block-mini { position: relative; }
.block-mini .img { height: 110px; width: 110px; }
.block-mini .img:before { position: absolute; content: ""; top: 50px; right: 0px; width: 0px; height: 0px; border-style: solid; border-width: 7.5px 5px 7.5px 0; border-color: transparent white transparent transparent; }
.block-mini .block__right { padding: 19px 20px 0 0; width: 177px; }
.block-mini .data { position: absolute; bottom: 22px; left: 132px; }

.block__right { float: right; width: 412px; padding-top: 22px; padding-right: 25px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.block__right .link-blue { margin-bottom: 7px; }
.block__right .h3 { margin-bottom: 19px; }

.img { display: inline-block; height: 187px; width: 191px; background: #e4e4e4; overflow: hidden; position: relative; }
.img img { height: 100%; }

.main__right { float: right; display: inline-block; width: 310px; }

.main__footer { text-align: center; background: url(../img/dot.png) repeat-x 0px 11px; }
.main__footer .h6 { background: white; position: relative; padding: 0 31px 0 29px; }
.main__footer .h6:hover:before { background: url(../img/icons/i-tick_h.png); }
.main__footer .h6:hover:after { background: url(../img/icons/i-tick_h.png); }
.main__footer .h6:before, .main__footer .h6:after { content: ""; position: absolute; height: 6px; width: 9px; background: url(../img/icons/i-tick.png); top: 2px; }
.main__footer .h6:before { left: 3px; }
.main__footer .h6:after { right: 1px; }

.banner { border-bottom: 2px solid #e4e4e4; padding-bottom: 2px; }

.banner__block { position: relative; overflow: hidden; width: 310px; height: 132px; background: #a6acb8; margin-bottom: 9px; }
.banner__block img { height: 100%; }

.banner__text { position: absolute; top: 56px; left: 110px; color: white; font-weight: bold; font-size: 22px; line-height: 22px; }
.banner__text:after, .banner__text:before { position: absolute; content: ""; left: 23px; height: 2px; width: 47px; background: white; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60); opacity: 0.6; }
.banner__text:after { top: -14px; }
.banner__text:before { bottom: -13px; }

.event .h2 { text-align: center; margin: 27px 0 29px 0; display: block; }

/*-----footer---------------------------------------- */
.footer { background: #353c44; *zoom: 1; }
.footer:after { content: " "; display: table; clear: both; }

.footer-in { background: #353c44; margin: 0 auto; width: 960px; padding: 57px 16px 60px 0px; *zoom: 1; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.footer-in:after { content: " "; display: table; clear: both; }

.footer__left { float: left; margin-right: 65px; }

.footer__logo { display: inline-block; height: 52px; width: 49px; background: url(../img/icons/i-logo_footer.png); vertical-align: top; }

.footer__text { margin: 0px 0 0 15px; display: inline-block; width: 230px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90); opacity: 0.9; color: #b7b9bb; font-size: 13px; line-height: 18px; }

.footer__right { float: right; }

.develop { margin-top: 4px; }

.develop__text { display: inline-block; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); opacity: 0.8; color: #b7b9bb; font-size: 12px; line-height: 12px; vertical-align: top; margin: 2px 6px 0 0; }

.develop__logo { display: inline-block; vertical-align: top; background: url(../img/icons/i-logo_develop.png); height: 19px; width: 68px; }

.footer__center { float: left; }

.footer__links { *zoom: 1; }
.footer__links:after { content: " "; display: table; clear: both; }

.footer__item { float: left; margin-right: 50px; }

.footer__item-unit { margin-bottom: 7px; }
.footer__item-unit a { text-decoration: none; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90); opacity: 0.9; color: #f7f7f7; font-size: 11px; line-height: 11px; }
.footer__item-unit a:active { color: #8e9298; }
.footer__item-unit a:hover { color: #a8adb2; }

/*-----slider---------- */
.slider .slider__prev, .slider .slider__next { position: absolute; top: 187px; cursor: pointer; z-index: 111; }
.slider .slider__prev { left: 12.5%; background: url('../img/icons-s5c0f87beea.png') 0 -251px no-repeat; width: 45px; height: 48px; }
.slider .slider__prev:hover { background: url('../img/icons-s5c0f87beea.png') 0 -143px no-repeat; width: 45px; height: 48px; }
.slider .slider__prev:active { background: url('../img/icons-s5c0f87beea.png') 0 -367px no-repeat; width: 45px; height: 48px; }
.slider .slider__next { right: 12.3%; background: url('../img/icons-s5c0f87beea.png') 0 -309px no-repeat; width: 45px; height: 48px; }
.slider .slider__next:hover { background: url('../img/icons-s5c0f87beea.png') 0 -534px no-repeat; width: 45px; height: 48px; }
.slider .slider__next:active { background: url('../img/icons-s5c0f87beea.png') 0 -592px no-repeat; width: 45px; height: 48px; }

.slider__pager { position: absolute; bottom: 28px; left: 50%; margin-left: -31px; z-index: 111; }
.slider__pager span { margin-right: 11px; display: inline-block; width: 6px; height: 6px; background: transparent; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; font-size: 0; cursor: pointer; border: 1px solid #f7f7f7; -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.18); -moz-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.18); box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.18); }
.slider__pager span.cycle-pager-active { background: #f7f7f7; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
.slider__pager span:hover { background: #f7f7f7; }
.slider__pager span:active { background: #ef2e24; border: 1px solid #ef2e24; }

.slider-i { margin: 0 auto; position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }

.slider__item-1 { background: #75787c url(../img/slide1.png); }

.slider__item-2 { background: #75787c url(../img/slide2.png); }

.slider__item-3 { background: #75787c url(../img/slide3.jpg); }

.slider__item-4 { background: #75787c url(../img/slide4.jpg); }

.slider__item { display: inline-block; height: 418px; width: 100%; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }

.slider__content { width: 580px; margin: 0 auto; padding: 99px 0px 0px 3px; }
.slider__content .i-book { display: block; margin: 0 auto 0px; }

.slider__content-title { color: white; font-size: 47px; line-height: 39px; text-align: center; font-weight: normal; margin: 24px 0 20px; text-decoration: none; display: block; cursor: pointer; }
.slider__content-title:hover { text-decoration: underline; }
.slider__content-title:active { color: #dedede; }

.slider__content-text { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=96); opacity: 0.96; color: #f7f7f7; font-size: 14px; line-height: 17px; width: 370px; text-align: center; margin: 0 auto 0; }

/*-----logo---------------------------------------- */
.logo { background: url(../img/logo.png) no-repeat; display: inline-block; height: 77px; width: 256px; font: 0/0 a; text-shadow: none; color: transparent; vertical-align: top; }

/*-----ico---------------------------------------- */
.ico { display: inline-block; }

.i-pegas { background: url('../img/icons-s5c0f87beea.png') 0 0 no-repeat; width: 20px; height: 17px; margin-right: 12px; }

.i-search { background: url('../img/icons-s5c0f87beea.png') 0 -875px no-repeat; width: 14px; height: 15px; }
.i-search:hover { background: url('../img/icons-s5c0f87beea.png') 0 -850px no-repeat; width: 14px; height: 15px; cursor: pointer; }

.i-book { background: url('../img/icons-s5c0f87beea.png') 0 -900px no-repeat; width: 19px; height: 17px; }

.i-link { background: url('../img/icons-s5c0f87beea.png') 0 -89px no-repeat; width: 12px; height: 9px; vertical-align: middle; }

/*-----link/h------------------------------------ */
.link { text-decoration: none; color: black; display: inline-block; }
.link:hover { color: #e31c11; }
.link:active { color: #ba0900; }

.h2 { font-size: 26px; line-height: 26px; font-weight: normal; }

.h3 { font-size: 16px; line-height: 19px; font-weight: bold; }

.h4 { font-size: 14px; line-height: 17px; }

.h5 { font-size: 12px; line-height: 15px; font-weight: normal; }
.h5:hover .i-link { background: url('../img/icons-s5c0f87beea.png') 0 -108px no-repeat; width: 12px; height: 9px; }

.h6 { font-size: 11px; line-height: 11px; font-weight: normal; }

.link-blue { color: #0068b3; font-size: 11px; line-height: 11px; }
.link-blue:hover { color: #218edd; }

/*-----data------------------------------------ */
.data__number, .data__month { display: inline-block; font-size: 10px; line-height: 10px; }

.data__number { color: #ef2e24; }

.data-big { position: absolute; bottom: 0; right: 0; display: inline-block; height: 84px; width: 82px; background: white; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding-top: 19px; text-align: center; }
.data-big:before { position: absolute; content: ""; top: -5px; right: 32px; display: inline-block; width: 0px; height: 0px; border-style: solid; border-width: 0 7.5px 5px 7.5px; border-color: transparent transparent white; }
.data-big .data__number { font-size: 33px; line-height: 33px; display: block; }
.data-big .data__month { font-size: 10px; line-height: 14px; display: block; }

/*-----slider-mini--------------------- */
.slider-mini_in { margin: 0 auto; width: 950px; text-align: center; position: relative; padding-bottom: 19px; }

.slider-mini__title { padding-top: 31px; margin-bottom: 33px; }

.slider-mini__gallery { display: inline-block; }
.slider-mini__gallery ul li { display: inline-block; width: 135px; height: 280px; overflow: hidden; text-align: center; }

.slider-mini__img { display: inline-block; height: 100px; width: 100px; margin-bottom: 17px; }
.slider-mini__img img { z-index: 3; height: 100%; }

.slider-mini__prev, .slider-mini__next { position: absolute; top: 184px; cursor: pointer; z-index: 111; }

.slider-mini__prev { left: 0%; background: url('../img/icons-s5c0f87beea.png') 0 -700px no-repeat; width: 37px; height: 40px; }
.slider-mini__prev:hover { background: url('../img/icons-s5c0f87beea.png') 0 -201px no-repeat; width: 37px; height: 40px; }
.slider-mini__prev:active { background: url('../img/icons-s5c0f87beea.png') 0 -425px no-repeat; width: 37px; height: 40px; }

.slider-mini__next { right: 0%; background: url('../img/icons-s5c0f87beea.png') 0 -750px no-repeat; width: 37px; height: 40px; }
.slider-mini__next:hover { background: url('../img/icons-s5c0f87beea.png') 0 -650px no-repeat; width: 37px; height: 40px; }
.slider-mini__next:active { background: url('../img/icons-s5c0f87beea.png') 0 -800px no-repeat; width: 37px; height: 40px; }

.slider-mini__item { margin: 0 17px; }
.slider-mini__item .h4 { margin-bottom: 9px; }
