html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

/*-----header---------------------------------------- */
body { font-family: "OpenSans", sans-serif; color: #838383; }

a { -webkit-transition: 0.3s; -moz-transition: 0.3s; -o-transition: 0.3s; transition: 0.3s; }

.wrap { display: block; *zoom: 1; }
.wrap:after { content: " "; display: table; clear: both; }

.text { font-size: 12px; line-height: 17px; }

.header-in { margin: 0 auto; width: 950px; padding-bottom: 26px; *zoom: 1; }
.header-in:after { content: " "; display: table; clear: both; }

.header__left { float: left; padding-top: 17px; }

.header__right { width: 310px; float: right; padding-top: 25px; }

.header__top { *zoom: 1; margin-bottom: 24px; }
.header__top:after { content: " "; display: table; clear: both; }

.lang { padding-top: 8px; font-size: 11px; line-height: 11px; float: left; *zoom: 1; }
.lang:after { content: " "; display: table; clear: both; }
.lang li { float: right; margin-right: 23px; }
.lang a { text-decoration: none; color: #191919; border-bottom: 3px solid transparent; padding-bottom: 4px; }
.lang a:hover { color: #b90800; }
.lang .is-active { font-weight: bold; border-bottom: 3px solid red; }
.lang .is-active:hover { color: #191919; cursor: default; }

.official { float: right; font-size: 14px; line-height: 14px; color: #4f555d; }

.header__bottom { *zoom: 1; }
.header__bottom:after { content: " "; display: table; clear: both; }

.search { border-bottom: 1px solid #e7e7e7; width: 100%; padding: 4px 0px 3px; *zoom: 1; }
.search:after { content: " "; display: table; clear: both; }
.search .i-search { float: right; }

.search__input { font-size: 12px; line-height: 12px; width: 285px; color: #4f555d; border: none; outline: none; }

/*-----nav---------------------------------------- */
.nav { width: 950px; margin: 0 auto; *zoom: 1; -webkit-box-shadow: inset 0 2px 0 0 #e7e7e7; -moz-box-shadow: inset 0 2px 0 0 #e7e7e7; box-shadow: inset 0 2px 0 0 #e7e7e7; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding-left: 90px; }
.nav:after { content: " "; display: table; clear: both; }
.nav ul { position: absolute; left: -5999px; width: 128px; }
.nav .click { background: #2a2a2a; color: white; -webkit-transition: 0.2s; -moz-transition: 0.2s; -o-transition: 0.2s; transition: 0.2s; }
.nav .click ul { left: 0; top: 55px; -webkit-transition: 0.2s; -moz-transition: 0.2s; -o-transition: 0.2s; transition: 0.2s; }
.nav .click:hover { background: #2a2a2a; color: white; z-index: 999; }

.nav__item { -webkit-transition: 0.3s; -moz-transition: 0.3s; -o-transition: 0.3s; transition: 0.3s; float: left; background: transparent; position: relative; display: block; color: #313131; font-size: 14px; line-height: 20px; padding: 19px 26px 16px 21px; text-decoration: none; text-align: left; cursor: pointer; }
.nav__item:hover { background: transparent; color: #b90800; }

.nav__item-unit { -webkit-transition: 0.3s; -moz-transition: 0.3s; -o-transition: 0.3s; transition: 0.3s; background: #2a2a2a; width: 210px; border-top: 1px solid #3f3f3f; padding: 15px 0px 15px 21px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.nav__item-unit:first-child { border-top: 1px solid transparent; }
.nav__item-unit:hover { background: #3c3c3c; }
.nav__item-unit:active { background: #ef2e24; color: #fbd5d4; }
.nav__item-unit a { display: block; color: #a8abad; font-size: 12px; line-height: 12px; width: 210px; text-decoration: none; text-align: left; cursor: pointer; }
.nav__item-unit a:hover { color: #a8abad; }

/*-----main---------------------------------------- */
.main { width: 950px; height: 1000px; margin: 0 auto; padding-top: 44px; *zoom: 1; }
.main:after { content: " "; display: table; clear: both; }

.main__left { float: left; display: inline-block; width: 630px; height: 500px; }

.topper { border-top: 2px solid #e4e4e4; padding-top: 27px; margin-bottom: 27px; }
.topper .link2 { margin-right: 25px; vertical-align: top; }
.topper .link4 { vertical-align: top; line-height: 31px; }
.topper .link4 .i-link { margin-right: 10px; }

.block { -webkit-box-shadow: inset 0px 1px 0px 0px #e4e4e4; -moz-box-shadow: inset 0px 1px 0px 0px #e4e4e4; box-shadow: inset 0px 1px 0px 0px #e4e4e4; *zoom: 1; margin-bottom: 7px; }
.block:after { content: " "; display: table; clear: both; }

.block__right { float: right; width: 412px; padding-top: 22px; padding-right: 25px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.block__right .link-blue { margin-bottom: 7px; }
.block__right .link3 { margin-bottom: 19px; }

.img { display: inline-block; height: 187px; width: 191px; background: #e4e4e4; overflow: hidden; position: relative; }
.img img { height: 100%; }

.data { position: absolute; bottom: 0; right: 0; display: inline-block; height: 84px; width: 82px; background: white; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding-top: 19px; text-align: center; }
.data:before { position: absolute; content: ""; top: -5px; right: 32px; display: inline-block; width: 0px; height: 0px; border-style: solid; border-width: 0 7.5px 5px 7.5px; border-color: transparent transparent white; }

.data__number { color: #ef2e24; font-size: 33px; line-height: 33px; }

.data__month { font-size: 10px; line-height: 14px; }

.main__right { float: right; display: inline-block; background: #aaaaaa; height: 500px; width: 310px; }

.main__footer { text-align: center; }

/*-----footer---------------------------------------- */
.footer { background: #353c44; }

.footer-in { background: #353c44; margin: 0 auto; width: 960px; padding: 57px 16px 60px 0px; *zoom: 1; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.footer-in:after { content: " "; display: table; clear: both; }

.footer__left { float: left; margin-right: 65px; }

.footer__logo { display: inline-block; height: 52px; width: 49px; background: url(../img/icons/i-logo_footer.png); vertical-align: top; }

.footer__text { margin: 0px 0 0 15px; display: inline-block; width: 230px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90); opacity: 0.9; color: #b7b9bb; font-size: 13px; line-height: 18px; }

.footer__right { float: right; }

.develop { margin-top: 4px; }

.develop__text { display: inline-block; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); opacity: 0.8; color: #b7b9bb; font-size: 12px; line-height: 12px; vertical-align: top; margin: 2px 6px 0 0; }

.develop__logo { display: inline-block; vertical-align: top; background: url(../img/icons/i-logo_develop.png); height: 19px; width: 68px; }

.footer__center { float: left; }

.footer__links { *zoom: 1; }
.footer__links:after { content: " "; display: table; clear: both; }

.footer__item { float: left; margin-right: 50px; }

.footer__item-unit { margin-bottom: 7px; }
.footer__item-unit a { text-decoration: none; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90); opacity: 0.9; color: #f7f7f7; font-size: 11px; line-height: 11px; }
.footer__item-unit a:active { color: #8e9298; }
.footer__item-unit a:hover { color: #a8adb2; }

/*-----slider---------- */
.slider .slider__prev, .slider .slider__next { position: absolute; top: 187px; cursor: pointer; z-index: 111; }
.slider .slider__prev { left: 12.5%; background: url('../img/icons-s5961012d59.png') 0 -185px no-repeat; width: 45px; height: 48px; }
.slider .slider__prev:hover { background: url('../img/icons-s5961012d59.png') 0 -127px no-repeat; width: 45px; height: 48px; }
.slider .slider__prev:active { background: url('../img/icons-s5961012d59.png') 0 -301px no-repeat; width: 45px; height: 48px; }
.slider .slider__next { right: 12.5%; background: url('../img/icons-s5961012d59.png') 0 -243px no-repeat; width: 45px; height: 48px; }
.slider .slider__next:hover { background: url('../img/icons-s5961012d59.png') 0 -418px no-repeat; width: 45px; height: 48px; }
.slider .slider__next:active { background: url('../img/icons-s5961012d59.png') 0 -476px no-repeat; width: 45px; height: 48px; }

.slider__pager { position: absolute; bottom: 28px; left: 50%; margin-left: -31px; z-index: 111; }
.slider__pager span { margin-right: 11px; display: inline-block; width: 6px; height: 6px; background: transparent; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; font-size: 0; cursor: pointer; border: 1px solid #f7f7f7; -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.18); -moz-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.18); box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.18); }
.slider__pager span.cycle-pager-active { background: #f7f7f7; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
.slider__pager span:hover { background: #f7f7f7; }
.slider__pager span:active { background: #ef2e24; border: 1px solid #ef2e24; }

.slider-i { margin: 0 auto; position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }

.slider__item-1 { background: #75787c url(../img/slide1.png); }

.slider__item-2 { background: #75787c url(../img/slide2.png); }

.slider__item-3 { background: #75787c url(../img/slide3.jpg); }

.slider__item-4 { background: #75787c url(../img/slide4.jpg); }

.slider__item { display: inline-block; height: 418px; width: 100%; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }

.slider__content { width: 580px; margin: 0 auto; padding: 99px 0px 0px 3px; }
.slider__content .i-book { display: block; margin: 0 auto 0px; }

.slider__content-title { color: white; font-size: 47px; line-height: 39px; text-align: center; font-weight: normal; margin: 24px 0 20px; text-decoration: none; display: block; cursor: pointer; }
.slider__content-title:hover { text-decoration: underline; }
.slider__content-title:active { color: #dedede; }

.slider__content-text { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=96); opacity: 0.96; color: #f7f7f7; font-size: 14px; line-height: 17px; width: 370px; text-align: center; margin: 0 auto 0; }

/*-----logo---------------------------------------- */
.logo { background: url(../img/logo.png) no-repeat; display: inline-block; height: 77px; width: 256px; font: 0/0 a; text-shadow: none; color: transparent; vertical-align: top; }

/*-----ico---------------------------------------- */
.ico { display: inline-block; }

.i-pegas { background: url('../img/icons-s5961012d59.png') 0 0 no-repeat; width: 20px; height: 17px; margin-right: 12px; }

.i-search { background: url('../img/icons-s5961012d59.png') 0 -559px no-repeat; width: 14px; height: 15px; }
.i-search:hover { background: url('../img/icons-s5961012d59.png') 0 -534px no-repeat; width: 14px; height: 15px; cursor: pointer; }

.i-book { background: url('../img/icons-s5961012d59.png') 0 -584px no-repeat; width: 19px; height: 17px; }

.i-link { background: url('../img/icons-s5961012d59.png') 0 -89px no-repeat; width: 12px; height: 9px; vertical-align: middle; }

/*-----link------------------------------------ */
.link { text-decoration: none; color: black; display: inline-block; }
.link:hover { color: #e31c11; }
.link:active { color: #ba0900; }

.link2 { font-size: 26px; line-height: 26px; }

.link3 { font-size: 16px; line-height: 19px; font-weight: bold; }

.link4 { font-size: 12px; line-height: 12px; }
.link4:hover .i-link { background: url('../img/icons-s5961012d59.png') 0 -108px no-repeat; width: 12px; height: 9px; }

.link-blue { color: #0068b3; font-size: 11px; line-height: 11px; }
.link-blue:hover { color: #218edd; }

/*-----H--------------------------------------- */
