$border: #e7e7e7
$text-hover: #b90800
body
	font-family: "OpenSans", sans-serif
	color: #838383
a
	+transition (0.3s)	
.text
	font-size: 12px
	line-height: 17px 
.title
	padding: 33px 0px 26px 0px 
	.h2
		margin-right: 25px
		vertical-align: top
	.h5
		vertical-align: top
		line-height: 31px	
.bottom
	text-align: center
	background: url(../img/dot.png) repeat-x 0px 11px
	.link
		background: #FFF 
	.h6
		background: #FFF 
		position: relative
		padding: 0 31px 0 29px
		&:hover
			&:before
				background: url(../img/icons/i-tick_h.png)
			&:after
				background: url(../img/icons/i-tick_h.png)	
		&:before, &:after
			content: ""
			position: absolute
			height: 6px
			width: 9px
			background: url(../img/icons/i-tick.png)
			top: 2px				
		&:before
			left: 3px
		&:after
			right: 1px		
.bottom-double
	background-position: 0px 7px 
	+clr
	.link
		font-size: 14px
		line-height: 14px	
.bottom__prev
	float: left
	padding: 0 22px 0 25px 	
	position: relative
	&:hover
		&:before
			background: url(../img/icons/i-prev_h.png)
	&:before
		content: ""
		position: absolute
		height: 18px
		width: 12px
		background: url(../img/icons/i-prev.png)
		top: -3px				
		left: 0px
.bottom__next
	float: right
	padding: 0 20px 0 22px   
	position: relative
	&:hover
		&:after
			background: url(../img/icons/i-next_h.png)	
	&:after
		content: ""
		position: absolute
		height: 18px
		width: 12px
		background: url(../img/icons/i-next.png)
		top: -3px				
		right: 0px
.line
	height: 3px
	width: 16px
	background: #cbcbcb
	margin-bottom: 27px 			
/*-----header----------------------------------------*/
.header		
	display: block
	+clr
.header-in
	margin: 0 auto
	width: 950px 	
	padding-bottom: 26px 
	+clr
.header__left
	float: left
	padding-top: 17px 
.header__right
	width: 310px
	float: right
	padding-top: 25px 		
.header__top
	+clr	
	margin-bottom: 24px
.lang
	padding-top: 8px
	font-size: 11px
	line-height: 11px
	float: left	
	+clr	
	li
		float: right
		margin-right: 23px
	a	
		text-decoration: none
		color: #191919 
		border-bottom: 3px solid transparent 
		padding-bottom: 4px
		&:hover
			color: $text-hover	
	.is-active
		font-weight: bold	
		border-bottom: 3px solid red 		
		&:hover
			color: #191919
			cursor: default 
.official
	float: right	
	font-size: 14px
	line-height: 14px
	color: #4f555d 
.header__bottom	
	+clr
.search
	border-bottom: 1px solid $border
	width: 100% 
	padding: 4px 0px 3px 
	+clr 
	.i-search
		float: right
.search__input
	font-size: 12px
	line-height: 12px
	width: 285px
	color: #4f555d 
	border: none
	outline: none	
/*-----nav----------------------------------------*/
.nav
	display: block
	+clr
.nav-in
	width: 950px
	margin: 0 auto
	+clr
	+box-shadow (inset 0 2px 0 0 $border)
	+box
	padding-left: 90px
.nav__item
	+transition(0.3s)									
	float: left
	background: transparent
	position: relative
	display: inline-block
	text-align: left
	&:hover
		background: transparent
		color: $text-hover 
		.nav__link//a
			text-decoration: none
			position: relative
			z-index: 101		
		.nav__second
			display: block
			z-index: 101
			position: absolute
.is-dropdown	
	&:hover
		background: #2a2a2a
		.nav__link
			color: #FFF 
.nav__item-unit	
	+transition(0.3s)							
	border-top: 1px solid #3f3f3f 
	width: 210px	
	+box
	&:first-child
		border-top: 1px solid transparent 	
.nav__item-link	
	background: #2a2a2a
	display: block
	color: #a8abad
	font-size: 12px
	line-height: 12px
	width: 210px
	padding: 15px 0px 15px 21px 
	text-decoration: none
	text-align: left
	+box
	&:hover
		background: #3c3c3c
		color: #a8abad		
	&:active
		background: #ef2e24
		color: #FBD5D4 			
.nav__second			
	display: none	
	position: absolute	
	top: 54px
	left: 0px
	width: 128px	
.nav__link//a	
	display: inline-block
	color: #313131
	text-decoration: none
	font-size: 14px
	line-height: 20px
	padding: 19px 26px 16px 21px 
	&:hover
		color: $text-hover 
/*-----main----------------------------------------*/
.main
	display: block
	+clr
.main-in
	width: 950px
	margin: 0 auto 
	padding-top: 44px
	padding-bottom: 19px
	+clr
	border-bottom: 2px solid #e4e4e4 
	.title
		border-top: 2px solid #e4e4e4 
		padding: 27px 0px 26px 
.main__left
	float: left
	display: inline-block
	width: 630px
.main__block
	margin-bottom: 20px			
.main__right
	float: right
	display: inline-block	
	width: 310px	
.banner	
	border-bottom: 2px solid #e4e4e4 
	padding-bottom: 2px	
.banner__block
	position: relative
	overflow: hidden
	width: 310px
	height: 132px
	background: #A6ACB8 
	margin-bottom: 9px
	img	
		height: 100%
.banner__text
	position: absolute
	top: 56px
	left: 110px
	color: #fff
	font-weight: bold
	font-size: 22px
	line-height: 22px
	&:after, &:before
		position: absolute
		content: ""
		left: 23px
		height: 2px
		width: 47px
		background: #fff
		+opacity(0.6) 
	&:after
		top: -14px	
	&:before
		bottom: -13px	
.event
	.h2
		text-align: center
		margin: 27px 0 29px 0
		display: block 		
/*-----footer----------------------------------------*/
.footer
	background: #353C44 
	+clr
.footer-in
	background: #353C44
	margin: 0 auto
	width: 960px
	padding: 57px 16px 60px 0px
	+clr
	+box
.footer__left
	float: left
	margin-right: 65px
.footer__logo
	display: inline-block
	height: 52px
	width: 49px	
	background: url(../img/icons/i-logo_footer.png) 
	vertical-align: top
.footer__text
	margin: 0px 0 0 15px 
	display: inline-block
	width: 230px
	+opacity(.9)
	color: #b7b9bb
	font-size: 13px
	line-height: 18px 
.footer__right
	float: right
.develop
	margin-top: 4px
.develop__text
	display: inline-block
	+opacity(.8)
	color: #b7b9bb
	font-size: 12px
	line-height: 12px
	vertical-align: top
	margin: 2px 6px 0 0  
.develop__logo
	display: inline-block
	vertical-align: top
	background: url(../img/icons/i-logo_develop.png)
	height: 19px
	width: 68px 	
.footer__center
	float: left	
.footer__links
	+clr	
.footer__item
	float: left
	margin-right: 50px
.footer__item-unit	
	margin-bottom: 7px
	a
		text-decoration: none
		+opacity(.9)
		color: #f7f7f7
		font-size: 11px
		line-height: 11px
		&:active
			color: #8e9298
		&:hover
			color: #a8adb2
/*-----slider----------*/
.slider
	.slider__prev, .slider__next
		position: absolute
		top: 187px
		cursor: pointer	
		z-index: 111
	.slider__prev
		left: 12.5%
		+s(i-slider_prev)
		&:hover
			+s(i-slider_prev-h)	
		&:active
			+s(i-slider_prev-a)					
	.slider__next
		right: 12.3%
		+s(i-slider_next)
		&:hover
			+s(i-slider_next-h)
		&:active
			+s(i-slider_next-a)						
.slider__pager
	position: absolute
	bottom: 28px
	left: 50%
	margin-left: -31px 
	z-index: 111
	span
		margin-right: 11px
		display: inline-block
		width: 6px
		height: 6px
		background: transparent
		+border-radius(50%)
		font-size: 0
		cursor: pointer
		border: 1px solid #f7f7f7
		@include box-shadow(inset 0 2px 2px rgba(0,0,0,.18))
		&.cycle-pager-active
			background: #f7f7f7 
			@include box-shadow(none)
		&:hover
			background: #f7f7f7
		&:active
			background: #EF2E24 
			border: 1px solid #ef2e24	 	
.slider-i
	margin: 0 auto
	position: relative
	+box
	+cover
.slider__item-1
	background: #75787c url(../img/slide1.png)
.slider__item-2
	background: #75787c url(../img/slide2.png)
.slider__item-3
	background: #75787c url(../img/slide3.jpg)	 
.slider__item-4
	background: #75787c url(../img/slide4.jpg) 	
.slider__item
	display: inline-block
	height: 418px
	width: 100%	
	+cover
.slider__content
	width: 580px
	margin: 0 auto 
	padding: 99px 0px 0px 3px 
	.i-book
		display: block
		margin: 0 auto 0px 
.slider__content-title
	color: #FFF
	font-size: 47px
	line-height: 39px
	text-align: center
	font-weight: normal
	margin: 24px 0 20px 
	text-decoration: none
	display: block
	cursor: pointer
	&:hover
		text-decoration: underline
	&:active
		color: #dedede 	 
.slider__content-text
	+opacity(.96)
	color: #f7f7f7
	font-size: 14px
	line-height: 17px
	width: 370px
	text-align: center
	margin: 0 auto 0 		
/*-----logo----------------------------------------*/
.logo
	background: url(../img/logo.png) no-repeat 
	display: inline-block
	height: 77px
	width: 256px
	+hide-text
	vertical-align: top
/*-----ico----------------------------------------*/
.ico
	display: inline-block
.i-pegas
	+s(i-pegas)	
	margin-right: 12px 
.i-search
	+s(i-search)
	&:hover
		+s(i-search_active)
		cursor: pointer
.i-book
	+s(i-book)
.i-link
	margin-right: 10px
	+s(i-link)
	vertical-align: middle 	
/*-----link/h------------------------------------*/
.link
	text-decoration: none
	color: #000 
	display: inline-block
	&:hover
		color: #e31c11 
	&:active
		color: #ba0900 	
.h1
	font-size: 26px
	line-height: 29px
	font-weight: bold		
.h2
	font-size: 26px
	line-height: 26px
	font-weight: normal
.h3
	font-size: 16px
	line-height: 19px
	font-weight: bold
.h4
	font-size: 14px
	line-height: 17px	
.h5
	font-size: 12px
	line-height: 15px
	font-weight: normal	
	&:hover
		.i-link
			+s(i-link_h)
.h6
	font-size: 11px
	line-height: 11px	
	font-weight: normal
.link-blue
	color: #0068b3
	font-size: 11px
	line-height: 11px 
	&:hover
		color: #218EDD
.link-blue_big
	font-size: 13px
	line-height: 13px
	font-weight: bold	
	letter-spacing: 0.12em  		
/*-----data------------------------------------*/		
.data__number, .data__month
	display: inline-block	
	font-size: 10px
	line-height: 10px
.data__number	
	color: #ef2e24 
.data
.data-big
	position: absolute
	bottom: 0
	right: 0
	display: inline-block
	height: 84px
	width: 82px
	background: #fff	
	+box
	padding-top: 19px
	text-align: center
	&:before
		position: absolute
		content: ""
		top: -5px
		right: 32px
		display: inline-block
		width: 0px
		height: 0px
		border-style: solid
		border-width: 0 7.5px 5px 7.5px
		border-color: transparent transparent #fff	
	.data__number
		font-size: 33px
		line-height: 33px
		display: block
	.data__month	
		font-size: 10px
		line-height: 14px
		display: block
/*-----slider-mini---------------------*/
.slider-mini_in
	margin: 0 auto
	width: 950px 
	text-align: center
	position: relative
	padding-bottom: 19px
.slider-mini__title
	padding-top: 31px	
	margin-bottom: 33px
.slider-mini__gallery
	display: inline-block
	ul li
		display: inline-block
		width: 135px
		height: 280px
		overflow: hidden
		text-align: center
.slider-mini__img
	display: inline-block
	height: 100px
	width: 100px
	margin-bottom: 17px
	img
		z-index: 3
		height: 100%					
.slider-mini__prev,.slider-mini__next
	position: absolute
	top: 184px
	cursor: pointer	
	z-index: 111
.slider-mini__prev
	left: 0%
	+s(i-slider__mini_prev)
	&:hover
		+s(i-slider__mini_prev-h)	
	&:active
		+s(i-slider__mini_prev-a)					
.slider-mini__next
	right: 0%
	+s(i-slider__mini_next)
	&:hover
		+s(i-slider__mini_next-h)
	&:active
		+s(i-slider__mini_next-a)
.slider-mini__item 
	margin: 0 17px
	.h4
		margin-bottom: 9px	
/*-----topper--------------------------------------------------*/
.topper
	height: 39px
	background: #75787c url(../img/slide1.png)	
	+cover
/*-----newlist------------------------------------------------*/
.newlist
	margin-bottom: 45px
.newlist-in
	margin: 0 auto 
	width: 950px 
.newlist__container
	+clr	
.newlist__left
	float: left
	width: 469px
.newlist__right
	float: right
	width: 469px
/*-----simplenews-------------------------------------------*/
.simplenews
.simplenews-in
	width: 950px
	margin: 0 auto
	+clr
	.h1
		margin-bottom: 25px
	.h4
		font-weight: bold	
		vertical-align: -1px 
	.link-blue
		margin-right: 17px	
		vertical-align: -1px
	.bottom-double
		margin-bottom: 46px
.simplenews__left
	float: left
	width: 750px 
	padding-top: 28px
	+box
.simplenews__right
	float: right
	width: 150px	
	padding-top: 37px
	+box
	.h2
		font-size: 23px
		line-height: 22px
		margin-bottom: 30px 	
.info
	padding: 17px 0 15px 
.social
	padding: 9px 0 48px 
.simplenews__left-news	
/*-----simpletext-----------------------*/
.simpletext
	.block-big
		border-bottom: none
		+box-shadow (none)
		+clr	
		margin-bottom: 9px 	
	.simplenews-in
		padding-bottom: 40px	
/*-----label----------------------------*/
.label
	display: inline-block
	background: #EFEFEF
	color: #616161  	 
	+box
	height: 24px
	padding: 7px 9px 0 8px
	text-align: center
	vertical-align: top
	font-size: 11px
	line-height: 11px 
	position: relative
	margin-right: 10px
	&:after
		position: absolute
		top: 9px
		right: -4px
		content: "" 
		width: 0px
		height: 0px
		border-style: solid
		border-width: 3.5px 0 3.5px 4px
		border-color: transparent transparent transparent #EFEFEF
/*-----block-----------------------------------------------------*/
.block
	+box-shadow (inset 0px 1px 0px 0px #e4e4e4)
	+clr
	margin-bottom: 7px
.block-mini
	position: relative
	.img
		height: 110px
		width: 110px
		&:before
			position: absolute
			content: ""
			top: 50px
			right: 0px
			width: 0px
			height: 0px
			border-style: solid
			border-width: 7.5px 5px 7.5px 0
			border-color: transparent #fff transparent transparent
	.block__right
		padding: 19px 20px 0 0 
		width: 177px
	.data
		position: absolute
		bottom: 22px
		left: 132px 
.block-big
	border-bottom: 1px solid #e1e1e1	
	.img
		width: 100%
		height: 298px
		&:before
		margin-bottom: 41px
		img
			width: 100%
	.text
		line-height: 19px 
		p
			margin-bottom: 19px
	.block-mini
		margin-bottom: 48px 
		+box
		height: 110px
		.img
			height: 110px
			width: 110px			
.block-small
	margin-bottom: 30px
	.img
		height: 168px
		width: 168px
		img
	.data
		height: 82px
	.block__right
		width: 275px
		padding: 21px 15px 0 0 
	.link-blue
		margin-bottom: 8px 	
	.h3
		line-height: 17px
		font-size: 14px
		margin-bottom: 11px	
.block-little	
	+box-shadow (none)	
	margin-bottom: 20px
	border-top: 1px solid #e3e3e3 
	padding-top: 23px
	&:first-child
		border-top: none
		padding-top: 0
	.img
		height: 150px
		width: 150px
		margin-bottom: 16px
		img
	.data
		height: 84px
	.block__right
		width: 100%
		padding: 0px
.block-gray
	background: #f6f6f6
	.img
		&:before
			border-color: transparent #f6f6f6 transparent transparent				
.block__right
	float: right
	width: 412px
	padding-top: 23px
	padding-right: 25px
	+box
	.link-blue
		margin-bottom: 7px
	.h3
		margin-bottom: 19px	
.block__left
	float: left
	width: 309px
	margin: 5px 32px 25px 0 
	.img
		height: 209px
		margin: 0
		img
			height: 100%
.block__left-title
	border-top: 2px solid #d93533 
	margin-top: 2px	
	padding: 23px 0 23px
	.h2
		font-size: 22px
		line-height: 22px
.img
	display: inline-block
	height: 188px
	width: 191px
	background: #e4e4e4
	overflow: hidden
	position: relative
	img
		height: 100%						